.friendsContainer {
  margin: 0 auto 40px;
  max-width: 500px;
}

.friendsList {
  display: flex;
  justify-content: space-between;
}

.friendsListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #111;
  border-radius: 5px;
  min-width: 80px;
}
